@tailwind base;
@tailwind components;
@tailwind utilities;

:fullscreen canvas,
:-webkit-full-screen canvas,
:-moz-full-screen canvas {
  width: 100vw !important;
  height: 100vh !important;
}

:fullscreen,
:-webkit-full-screen,
:-moz-full-screen {
  background: #000;
}